.remarkable p.md {
    margin-top: 18px;
    margin-bottom: 8px;
}
.remarkable p.question,
.remarkable p.سؤال {
    margin-top: 4px;
    margin-bottom: 2em;
    padding-right: 3em;
    padding-left: 3em;
    font-weight: bold;
    text-align: center;
}
